[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "comprehenr"]
	path = comprehenr
	url = https://github.com/gdemin/comprehenr
[submodule "expss"]
	path = expss
	url = https://github.com/gdemin/expss
[submodule "maditr"]
	path = maditr
	url = https://github.com/gdemin/maditr
